<form [formGroup]="myForm" (ngSubmit)="register(myForm)">
	<div>
		<label>name</label>
		<input type="text" formControlName="name" />
	</div>

	<div>
		<label>birthYear</label>
		<input type="text" formControlName="birthYear" />
	</div>

	<div [formGroup]="myForm.controls.card" (change)=updateValidation()>
		<div>
			<label>cardNumber</label>
			<input type="text" formControlName="cardNumber" />
		</div>

		<div>
			<label>expiry</label>
			<input type="text" formControlName="expiry" />
		</div>

		<div>
			<label>cvv</label>
			<input type="text" formControlName="cvv"/>
    </div></div>
    <div [formGroup]="myForm.controls.address">
      <div>
        <label>address1</label>
        <input type="text" formControlName="address1" />
      </div>
  
      <div>
        <label>city</label>
        <input type="text" formControlName="city" />
      </div>
  
      <div>
        <label>state</label>
        <input type="text" formControlName="state"/>
      </div>

      <div>
          <label>zip</label>
          <input type="text" formControlName="zip"/>
        </div>
  </div>
  <button type="submit">Register</button>
</form>

<hr/>
<div>Form is: {{myForm.status}}</div>
<hr/>
<div>Card form is: {{myForm.controls.card.status}}</div>
<hr/>
<div>{{myForm.value | json}}</div>

  <button type="button" (click)="printMyForm()">Print to console</button>